{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
  <!-- Start main-content -->
  <div class="main-content">

      <!-- Section: inner-header -->
      <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/slider/par_slider3.jpg'%}">
        <div class="container pt-70 pb-50">
          <!-- Section Content -->
          <div class="section-content">
            <div class="row"> 
              <div class="col-md-12">
                <h4 class="title text-white">Contact</h4>
                <ul class="breadcrumb white">
                  <li><a class="text-white" href="{% url 'home:home' %}">Home</a></li>
                  <li class="active">Contact</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Divider: Contact -->
      <section class="divider">
        <div class="container pt-0">
          <div class="row mb-60 bg-deep">
            <div class="col-sm-12 col-md-4">
              <div class="contact-info text-center pt-60 pb-60 border-right">
                <i class="fa fa-phone font-36 mb-10 text-theme-colored"></i>
                <h4>Call Us</h4>
                <h6 class="text-gray">Phone: (408) 384-9719</h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="contact-info text-center  pt-60 pb-60 border-right">
                <i class="fa fa-map-marker font-36 mb-10 text-theme-colored"></i>
                <h4>Address</h4>
                <h6 class="text-gray">16400 Lark Ave, Los Gatos, CA 95032</h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="contact-info text-center  pt-60 pb-60">
                <i class="fa fa-envelope font-36 mb-10 text-theme-colored"></i>
                <h4>Email</h4>
                <h6 class="text-gray">losgatosurgentcare@gmail.com</h6>
              </div>
            </div>
          </div>
          <div class="row pt-10">
            <div class="col-md-5">
            <h4 class="mt-0 mb-30 line-bottom">Find Our Location</h4>
            <img src="{% static 'images/mapurgentcare.png' %}" alt="" height="400" width="500">
            
            
            
            </div>
            <div class="col-md-7">
              <h4 class="mt-0 mt-sm-30 mb-30 line-bottom">Interested in discussing?</h4>
              <!-- Contact Form -->
              <form id="contact_form" name="contact_form" class="" method="POST" >
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Name <small>*</small></label>
                      {{ form.name }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Email <small>*</small></label>
                      {{ form.email }}
                    </div>
                  </div>
                </div>                
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Subject <small>*</small></label>
                      {{ form.subject }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Phone</label>
                      {{ form.phone }}
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Message</label>
                  {{ form.message }}
                  
                </div>
                <div class="form-group">
                  <input name="form_botcheck" class="form-control" type="hidden" value="" />
                 
                 
                  <button id="sndmsg" name="sndmsg" type="submit"
                  
                  class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px" >Send your message
                
                </button>
              <i class="fa fa-refresh fa-spin" id="loadpic" style="visibility: hidden;" ></i>
                
                
                  <button type="reset" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">Reset</button>
                </div>
              </form>
  
              
            </div>
          </div>
        </div>
      </section>  </div>
    <!-- end main-content -->
<script>
      $("#navMenus li.active").removeClass("active");
      // adding classname 'active' to current click li 
      $('#contactmenu').addClass("active");
</script>


<script>
  $(document).ready(function(){
         
         
         
     $("#sndmsg").click(function ()
     {
      if($('#contact_form').valid()!=true)
      {
        return
      }
      form_name=document.getElementById("form_name").value;
      form_email=document.getElementById("form_email").value;
      form_subject=document.getElementById("form_subject").value;
      form_phone=document.getElementById("form_phone").value;
      form_message=document.getElementById("form_message").value;
      
      
        
        $('#loadpic').attr("style", "visibility: visible");
        $('#sndmsg').text('Please wait').attr('disabled', true);



        $.ajax({
                  type: "POST",
                  url: "{% url 'home:sending_email' %}",
                  data: {
                            'form_name':form_name,
                            'form_email':form_email,
                            'form_subject':form_subject,
                            'form_phone':form_phone,
                            'form_message':form_message,
                            
                            'csrfmiddlewaretoken': '{{ csrf_token }}',

                          },
                  dataType: 'json',

                  success: function (data) {
                  if (data) {
                      
                      if (data['my_response']=='OK'){
                        document.getElementById("form_name").value='';
                        document.getElementById("form_email").value='';
                        document.getElementById("form_subject").value='';
                        document.getElementById("form_phone").value='';
                        document.getElementById("form_message").value='';

                        $('#loadpic').attr("style", "visibility: hidden");
                        $('#sndmsg').text('SEND YOUR MESSAGE').attr('disabled', false);


                      } else {

                          alert('Something went wrong!');
                      }




          }

          }



      });
        
     }
     );
     
     
     
      
     
     
        });
       </script>
    

  {% endblock %}