{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider">
      <div class="container-fluid p-0">
        
        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
          <div class="rev_slider" data-version="5.0">
            <ul>

              <!-- SLIDE 1 -->
              <li>
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/slider/par_slider1.jpg' %}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"  data-bgparallax="6" >
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white bg-dark-transparent-5 pl-30 pr-30"
                  id="rs-1-layer-1"
                
                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']" 
                  data-fontsize="['28']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600; border-radius:45px;">We Provide Total
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored-transparent pl-40 pr-40"
                  id="rs-1-layer-2"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-20']"
                  data-fontsize="['48']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600; border-radius:45px;">Health Care Solution 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-center text-black" 
                  id="rs-1-layer-3"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['50','60','70']"
                  data-fontsize="['16','18','24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">We are OPEN 7 DAYS A WEEK and NO APPOINTMENT IS NECESSARY.<br> Our medical services are affordable as compared to a visit to the hospital emergency room. 
                </div>

                
              </li>

             
              
            </ul>
          </div><!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
          $(document).ready(function(e) {
            var revapi = $(".rev_slider").revolution({
              sliderType:"standard",
              sliderLayout: "auto",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                  
              
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [680, 500, 400, 400],
              lazyType: "none",
              parallax: {
                  origo: "slidercenter",
                  speed: 1000,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                  type: "scroll"
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
              }
            });
          });
        </script>
        <!-- Slider Revolution Ends -->

      </div>
    </section>

    <!-- Section: home-boxes -->
   
    <!-- Section: about -->
    <section class="">
      <div class="container pb-0">
        <div class="row">
          <div class="col-md-8">
            <h3 class="text-gray mt-0 mt-sm-30 mb-0">Farzaneh Tabrizi,  MD</h3>
            <h2 class="text-theme-colored mt-0">Medical Director</h2>
            <p class="font-weight-600">Our Urgent Care Facility is staffed by Board Certified Physicians</p>
            <p class="mt-20">Dr. Tabrizi grew up in the San Francisco Bay Area. She attended Monta Vista High School in Cupertino and graduated from UC Berkeley.   She completed Emergency Medicine training at Johns Hopkins University.  She is Board Certified in Emergency Medicine and is a member of American College of Emergency Physicians.  She has more than 20 years of experience in Emergency Medicine , Urgent Care and Family Practice.</p>
            <p class="mt-20"><img src="" alt=""></p>
            <a href="{% url 'home:blog' %}" class="btn btn-default btn-theme-colored mt-15 mb-sm-30">My Blog and Articles</a>
          </div>
          <div class="col-md-4">
            <img src="{% static 'images/ft.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </section>

   
      
    </section> 

    <!-- Section: Doctors -->
    <section>
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase mt-0 line-height-1">Our Staff</h2>
              <div class="title-icon">
                <img class="mb-10" src="{% static 'images/title-icon.png' %}" alt="">
              </div>
              <p>We have built an incredible team with a shared vision and passion for medicine.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                
                  <img src="{% static 'images/doctor4.jpg'%}" alt="Lights" style="width:100%">
                  <div class="caption">
                      <h4 class="name mt-0 text-theme-color-2">Sean Parsa, MD</h4>
                  </div>
                
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/w3images/nature.jpg">
                  <img src="{% static 'images/doctor3.jpg'%}" alt="Nature" style="width:100%">
                  <div class="caption">
                      <h4 class="name mt-0 text-theme-color-2">Genny Ida, MA</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/w3images/fjords.jpg">
                  <img src="{% static 'images/doctor2.jpg'%}" alt="Fjords" style="width:100%">
                  <div class="caption">
                      <h4 class="name mt-0 text-theme-color-2">Khrisinda Lopez, MA</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        
        <!--<div class="section-content">
           <div class="row multi-row-clearfix">
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="{% static 'images/doctor4.jpg'%}" alt="" ></div>
                <div class="content border-1px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">Dr. Sakib Smith</h4>
                  <p class="mb-20"></p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="#">view details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="{% static 'images/doctor3.jpg'%}" alt=""></div>
                <div class="content border-1px p-15 bg-light clearfix">
                  <h4 class="name mt-0 text-theme-color-2">Dr. Smail Smith</h4>
                  <p class="mb-20">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="#">view details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="{% static 'images/doctor2.jpg'%}" alt=""></div>
                <div class="content border-1px p-15 bg-light clearfix">
                  <h4 class="name mt-0 text-theme-color-2">Dr. Zakaria Jon</h4>
                  <p class="mb-20">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="#">view details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="{% static 'images/doctor1.jpg'%}" alt=""></div>
                <div class="content border-1px p-15 bg-light clearfix">
                  <h4 class="name mt-0 text-theme-color-2">Dr. Ismail Jon</h4>
                  <p class="mb-20">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="#">view details</a>
                </div>
              </div>
            </div>
          </div> 
     



        </div>-->

      </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="http://placehold.it/1920x1280" data-parallax-ratio="0.7">
      <div class="container pt-60 pb-60">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-smile mt-5 text-white"></i>
              <h2  class=" text-white font-24 font-weight-500">More than 1500 happy patient every year</h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-rocket mt-5 text-white"></i>
              <h2  class=" text-white font-24 font-weight-500">All kinds of Urgent Care services</h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-add-user mt-5 text-white"></i>
              <h2  class=" text-white font-24 font-weight-500">Board certified physicians</h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-global mt-5 text-white"></i>
              <h2  class=" text-white font-24 font-weight-500">Online appoinment and walk ins</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Section: gallery -->
    <section class="divider parallax layer-overlay overlay-white-9" data-bg-img="{% static 'images/gallery_background.jpg' %}" data-parallax-ratio="0.7">>
      <div class="container pb-40">
        <div class="section-content">
          <div class="row">
            <div class="col-md-7">
              <h3 class="title line-bottom line-height-1 mt-0 mb-30"><i class="fa fa-camera-retro text-theme-colored mr-10"></i>Random <span class="text-theme-colored">Daily Gallery</span></h3>
              <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc1.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc2.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc3.jpg'%}" class="img-fullwidth">
                    
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc4.jpg'%}" class="img-fullwidth">
                    
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc6.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc5.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc7.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc8.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc9.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc10.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc11.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="{% static 'images/happycustomers/hc12.jpg'%}" class="img-fullwidth">
                    
                  </div>
                </div>
                <!-- Portfolio Item End -->
              </div>
            </div>
            <div class="col-md-5">
              <h3 class="title line-height-1 line-bottom mt-0 mt-sm-30 mb-30"><i class="fa fa-thumb-tack text-theme-colored mr-10"></i>Clients Say</h3>
              <div class="testimonial style1 owl-carousel-1col">
                <div class="item">
                  <div class="comment border-radius-15px">
                    <p>Doctor Tabrizi is the best doctor I have had in years. She always listens to everything I say and makes sure I get the right treatment for any problem I might have.</p>
                  </div>
                  <div class="content mt-20">
                    <div class="thumb pull-right">
                      <img class="img-circle" alt="" src="{% static 'images/jim.jpg'%}">
                    </div>
                    <div class="patient-details text-right pull-right mr-20 mt-10">
                      <h5 class="">Jim M.</h5>
                      <h6 class="title">www.yelp.com</h6>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="comment border-radius-15px">
                    <p>Dr. Parsa is great! Has so much knowledge and is there to help you! He saved my life and sent me to the ER when he recognized the dangerous signs of Sepsis.</p>
                  </div>
                  <div class="content mt-20">
                    <div class="thumb pull-right">
                      <img class="img-circle" alt="" src="{% static 'images/catherine.jpg'%}">
                    </div>
                    <div class="patient-details text-right pull-right mr-20 mt-10">
                      <h5 class="">Catherine O.</h5>
                      <h6 class="title">www.yelp.com</h6>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="comment border-radius-15px">
                    <p>Excellent dr with beautiful attitude 
                      Dr Tabrizi spend time with patient and she is not rushing to go to see another patient.
                      </p>
                  </div>
                  <div class="content mt-20">
                    <div class="thumb pull-right">
                      <img class="img-circle" alt="" src="{% static 'images/paris.jpg'%}">
                    </div>
                    <div class="patient-details text-right pull-right mr-20 mt-10">
                      <h5 class="">Paris S.</h5>
                      <h6 class="title">www.yelp.com</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Section: Contact -->
    <section id="contact" class="bg-lighter">
      <div class="container pb-0">
        <div class="section-content">
          <div class="row">
          <div class="col-md-4" data-wow-duration="1.4s">
            <img src="{% static 'images/dc2.png'%}" alt="">
          </div>
            <div class="col-md-8 wow fadeInRight mt-10" data-wow-duration="1.4s">
              <h3 class="title line-bottom line-height-1 mt-0 mb-30">Make an <span class="text-theme-colored">Appointment!</span></h3>          
              <!-- Contact Form -->
              <form id="contact_form" name="contact_form" class="" method="post">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group mb-20">
                      <input name="form_name" id="form_name" class="form-control" type="text" placeholder="Enter Name" required="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group mb-20">
                      <input name="form_email" id="form_email" class="form-control required email" type="email" placeholder="Enter Email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group mb-30">
                          <input name="form_phone" id="form_phone" class="form-control required phone" type="text" placeholder="Enter Phone">
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group mb-30">
                      <input name="form_reservation_date" id="form_reservation_date" class="form-control required datetime-picker" type="text" placeholder="Reservation Date" aria-required="true">
                    </div>
                  </div> -->
                </div>
                    <div class="form-group mb-20">
                  <textarea name="form_message" id="form_message" class="form-control required" rows="5" placeholder="Enter Message"></textarea>
                </div>
                    <div class="form-group">
                  <input name="form_botcheck" class="form-control" type="hidden" value=""/>
                  <button id="sndmsg" name="sndmsg" type="submit" class="btn btn-flat btn-theme-colored text-uppercase mt-0 mb-sm-30">Send your message</button>
                  <button type="reset" class="btn btn-flat btn-theme-colored text-uppercase mt-0 mb-sm-30">Reset</button>
                </div>
              </form>
              <!-- Contact Form Validation-->
              <script>
                $(document).ready(function(){
                       
                       
                       
                   $("#sndmsg").click(function ()
                   {
                    if($('#contact_form').valid()!=true)
                    {
                      return
                    }
                    form_name=document.getElementById("form_name").value;
                    form_email=document.getElementById("form_email").value;
                    form_phone=document.getElementById("form_phone").value;
                    // form_reservation_date=document.getElementById("form_reservation_date").value;
                    form_message=document.getElementById("form_message").value;
                    
                    
                      
                      $('#loadpic').attr("style", "visibility: visible");
                      $('#sndmsg').text('Please wait').attr('disabled', true);
              
              
              
                      $.ajax({
                                type: "POST",
                                url: "{% url 'home:make_appointment_home' %}",
                                data: {
                                          'form_name':form_name,
                                          'form_email':form_email,
                                          'form_phone':form_phone,
                                          // 'form_reservation_date':form_reservation_date,
                                          'form_message':form_message,
                                          
                                          'csrfmiddlewaretoken': '{{ csrf_token }}',
              
                                        },
                                dataType: 'json',
              
                                success: function (data) {
                                if (data) {
                                    
                                    if (data['my_response']=='OK'){
                                      document.getElementById("form_name").value='';
                                      document.getElementById("form_email").value='';
                                      // document.getElementById("form_reservation_date").value='';
                                      document.getElementById("form_phone").value='';
                                      document.getElementById("form_message").value='';
              
                                      $('#loadpic').attr("style", "visibility: hidden");
                                      $('#sndmsg').text('SEND YOUR MESSAGE').attr('disabled', false);
              
              
                                    } else {
              
                                        alert('Something went wrong!');
                                    }
              
              
              
              
                        }
              
                        }
              
              
              
                    });
                      
                   }
                   );
                   
                   
                   
                    
                   
                   
                      });
                     </script>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
  <script>
      $("#navMenus li.active").removeClass("active");
      // adding classname 'active' to current click li 
      $('#homemenu').addClass("active");
</script>
  {% endblock %}