{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<!-- Home Design -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 ulockd-pmz">
					<div class="ulockd-main-slider2">
						<div class="item">
							<div class="caption style1 text-left">
								<div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="300ms" data-wow-delay=".3s">Welcome To Our</div>
								<div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="600ms" data-wow-delay=".6s">Best Health Care<span class="text-thm1"> Service</span></div>
								<div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="900ms" data-wow-delay=".9s">
									<p>eHospital Health Care System has gladly served Ector County and the encompassing 21 regions of the Permian Basin for more than 35 years</p>
								</div>
								<a href="#" class="btn btn-lg ulockd-btn-thm ulockd-home-btn wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="1.2s"><span> Get A Quote</span></a>
							</div>
						</div>
						<div class="item">
							<div class="caption style2 text-center">
								<div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1.5s">Welcome To Our</div>
								<div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="1800ms" data-wow-delay="1.8s"><span class="text-thm2">Health Care Zone</span></div>
								<div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="2100ms" data-wow-delay="2.1s">
									<p> eHospital Health Care System has gladly served Ector County and the encompassing 21 regions of the Permian Basin for more than 35 years</p>
								</div>
								<a href="#" class="btn btn-lg ulockd-btn-thm ulockd-home-btn wow fadeInUp" data-wow-duration="2400ms" data-wow-delay="2.4s"><span> Get A Quote</span></a>
							</div>
						</div>
						<div class="item">
							<div class="caption style3 text-right">
								<div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="2400ms" data-wow-delay="2.7s">Welcome To Our</div>
								<div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="2700ms" data-wow-delay="3s">Health Care<span class="text-thm1"> Service</span></div>
								<div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="3000ms" data-wow-delay="3.3s">
									<p>Medical Services provides routine and urgent medical care, travel medicine, sexual health services, gynecological and confidential HIV testing</p>
								</div>
								<a href="#" class="btn btn-lg ulockd-btn-thm ulockd-home-btn wow fadeInUp" data-wow-duration="3300ms" data-wow-delay="3.6s"><span> Get A Quote</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Our Service -->
	<section class="ulockd-service-three">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 text-center">
					<div class="ulockd-srvc-title-two hvr-float-shadow">
						<div class="ulockd-title-icon"><span class="flaticon-medical-kit"></span></div>
						<h2 class="text-uppercase">Awesome Services</h2>
						<p>Medicinal Service Company puts stock in conveying the most elevated quality administration with quality and sympathy every day.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-nurse"></span></div>
							<h3>24/7 Service</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-nature"></span></div>
							<h3>Cancer Clinic</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-two-blood-drops"></span></div>
							<h3>Blood Test</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-folder"></span></div>
							<h3>Medical counselling</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-cross"></span></div>
							<h3>Rehabilitation</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-shape"></span></div>
							<h3>Qualified Doctors</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-medical-26"></span></div>
							<h3>Heart Institute</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-srvc-column-two text-center">
						<div class="ulockd-srvc-details-two">
							<div class="ulockd-srv-icon-two"><span class="flaticon-people-5"></span></div>
							<h3>Medicine Facilities</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our About -->
	<section class="ulockd-about-two parallax" data-stellar-background-ratio="0.3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="ulockd-abouttwo-details">
						<h2>About e<span class="text-thm2">Hospital</span></h2>
						<p class="ulockd-about-para"> eHospital has gladly served this County and the encompassing 27 city of the Permian Basin for more than 55 years. We've made some amazing progress since we opened our entryways in 1955 developing from a little region healing center into a prosperous 750 bed provincial medicinal focus serving more than 123,000 patients yearly. While we've seen many changes throughout the years,</p>
						<p class="ulockd-about-para-two"> a few things have stayed unaltered. We are as yet the main full-benefit healing facility in the district, regardless we endeavor to convey the most ideal administer to the general population of the Permian Basin.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="ulockd-fector-about-video">
						<div class="ulockd-afv-thumb">
							<iframe width="100%" height="265px" src="http://www.youtube.com/embed/8LZJz7GtJA0?autoplay=0" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="row ulockd-mrgn1240">
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-two">
						<span class="ulockd-icon-let flaticon-medical-41"></span>
                        <p>Surgery</p>
                        <div class="timer">5608</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-two">
						<span class="ulockd-icon-let flaticon-medal"></span>
                        <p>Award</p>
                        <div class="timer">152</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-two">
						<span class="ulockd-icon-let flaticon-medical-38"></span>
                        <p>Cup Coffee</p>
                        <div class="timer">780</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-two">
						<span class="ulockd-icon-let flaticon-multiple-users-silhouette"></span>
                        <p>Happy People</p>
                        <div class="timer">18560</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Service -->
	<section class="ulockd-service-three">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 text-center">
					<div class="ulockd-srvc-title-two hvr-float-shadow">
						<div class="ulockd-title-icon"><span class="flaticon-medical-kit"></span></div>
						<h2 class="text-uppercase">eHospital Galelry</h2>
						<p>The Medical Gallery is a privately claimed, family worked business, serving Holmes and <br> the encompassing districts in the Melbourne Panhandle since 2013.</p>
					</div>
				</div>
			</div>
            <div class="row">
	            <div class="col-md-12">
	                <!-- Masonry Filter -->
	                <ul class="list-inline masonry-filter text-center">
	                    <li><a href="#" class="active" data-filter="*">All</a></li>
	                    <li><a href="#" data-filter=".emergency" class="">Emergency</a></li>
	                    <li><a href="#" data-filter=".dental" class="">Dental</a></li>
	                    <li><a href="#" data-filter=".surgery" class="">Surgery</a></li>
	                    <li><a href="#" data-filter=".care" class="">Care</a></li>
	                    <li><a href="#" data-filter=".test" class="">Test</a></li>
	                </ul>
	                <!-- End Masonry Filter -->
	            
	                <!-- Masonry Grid -->
	                <div id="grid" class="masonry-gallery grid-4 clearfix">

		                <!-- Masonry Item -->
		                <div class="isotope-item emergency dental">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/1.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/1.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
									</div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item dental surgery test">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/2.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/2.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item new dental test">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/3.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/3.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/4.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/4.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item dental test">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/5.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/5.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item new surgery care">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/6.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/6.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item care">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/7.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/7.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry Item -->
		                <div class="isotope-item">
		                    <div class="gallery-thumb style2">
			                    <img class="img-responsive img-whp" src="{% static 'images/gallery/8.jpg'%}" alt="project">
			                    <div class="overlayer">
									<div class="lbox-caption">
										<div class="lbox-details">
											<h5>Our Gallery Title</h5>
											<ul class="list-inline">
												<li><a class="popup-img" href="{% static 'images/gallery/8.jpg'%}" title="Gallery Photos"><span class="flaticon-add-square-button"></span></a></li>
												<li><a class="link-btn" href="#" ><span class="flaticon-link-symbol"></span></a></li>
											</ul>
										</div>
				                    </div>
			                    </div>
		                    </div>
		                </div>

		                <!-- Masonry = Masonry Item -->
	                </div>
	                <!-- Masonry Gallery Grid Item -->
	            </div>
            </div>
		</div>
	</section>

	<!-- Our Booking Form -->
	<section class="ulockd-booking parallax" data-stellar-background-ratio="0.3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
				</div>
				<div class="col-lg-6 ulockd-pad30">
					<div class="ulockd-booking-form">
	                	<h3><span class="flaticon-checkbox-pen-outline text-thm1"></span> Booking With Your Requirement</h3> <br>
	                    <!-- Booking Form Sart-->
			            <form id="booking_form" class="ulockd-bf-area" name="booking_form" method="post">
			                <div class="row">
				                <div class="col-sm-12">
				                    <div class="form-group">
				                    	<input type="text" id="booking-name" name="booking-name" required="" class="form-control" placeholder="Name">
				                    </div>
				                </div>
				                <div class="col-sm-12">
				                    <div class="form-group">
				                    	<input type="text" id="booking-email" name="booking-email" class="form-control" required="" placeholder="Email">
				                    </div>
				                </div>
				                <div class="col-sm-6">
				                    <div class="form-group">
					                    <input type="text" id="booking-phone" name="booking-phone" class="form-control" required="" placeholder="Phone">
				                    </div>
				                </div>
				                <div class="col-sm-6">
				                    <div class="form-group">
					                    <input type="text" id="booking-date" name="booking-date" class="form-control datepicker" required="" placeholder="Schedule">
				                    </div>
				                </div>
				                <div class="col-sm-12">
				                    <div class="form-group">
					                    <div class="ulockd-select-style">
					                        <select id="depertment_post" class="form-control" name="depertment_post">
				                                <option value="select-option">Select An Option</option>
				                                <option value="dental">Dental</option>
				                                <option value="discuss">Primary Health</option>
				                                <option value="cardiology">Cardiology</option>
				                                <option value="neurology">Nurology</option>
				                                <option value="discuss">Orthopedic</option>
				                                <option value="discuss">Pregnancy and Childbirth</option>
				                                <option value="discuss">Health Insurance Coverage</option>
				                                <option value="discuss">Nutrition Services</option>
				                                <option value="discuss">Tobacco Cessation</option>
				                                <option value="discuss">Other Discuss</option>
					                        </select>
					                    </div>
				                    </div>
				                </div>
				                <div class="col-sm-12">
				                    <div class="form-group">
					                    <input name="form-botcheck" class="form-control" type="hidden" value="">
					                    <button type="submit" class="btn ulockd-btn-thm btn-block" data-loading-text="Please wait...">Booking Now</button>
				                    </div>
				                </div>
			                </div>
			            </form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Team -->
	<section class="ulockd-team-two">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 text-center">
					<div class="ulockd-team-title hvr-float-shadow">
						<div class="ulockd-title-icon"><span class="flaticon-medical-kit"></span></div>
						<h2 class="text-uppercase">OUR EXPERT</h2>
						<p>Medicinal Service Company puts stock in conveying the most elevated quality administration with quality and sympathy every day.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-team-two-member">
						<div class="ulockd-tm-thumb">
							<img class="img-responsive img-whp" src="{% static 'images/team/7.jpg'%}" alt="7.jpg">
							<div class="ulockd-team-two-mdetails">
							<div class="ulockd-tm-name">Dr. Williams Jones</div>
							<div class="ulockd-tm-post">- Neurologist</div>
								<ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>
								<ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
									<li>Fax: 1-888-hpaafaxme</li>
									<li>Phone: +98 9875 5968 54</li>
									<li>Mail: jones@mail.se</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-team-two-member">
						<div class="ulockd-tm-thumb">
							<img class="img-responsive img-whp" src="{% static 'images/team/6.jpg'%}" alt="6.jpg">
							<div class="ulockd-team-two-mdetails">
							<div class="ulockd-tm-name">Dr. Henry Jones</div>
							<div class="ulockd-tm-post">- Cardiologist</div>
								<ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>
								<ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
									<li>Fax: 1-888-hpeafaxme</li>
									<li>Phone: +98 9875 5968 54</li>
									<li>Mail: eHenry@mail.se</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-team-two-member">
						<div class="ulockd-tm-thumb">
							<img class="img-responsive img-whp" src="{% static 'images/team/5.jpg'%}" alt="">
							<div class="ulockd-team-two-mdetails">
							<div class="ulockd-tm-name">Dr. Elizabeth Henry</div>
							<div class="ulockd-tm-post">- Dentist</div>
								<ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>
								<ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
									<li>Fax: 1-888-hpeafaxme</li>
									<li>Phone: +98 9875 5968 54</li>
									<li>Mail: eHenry@mail.se</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ulockd-team-two-member">
						<div class="ulockd-tm-thumb">
							<img class="img-responsive img-whp" src="{% static 'images/team/8.jpg'%}" alt="8.jpg">
							<div class="ulockd-team-two-mdetails">
							<div class="ulockd-tm-name">Dr. Smith Johnson</div>
							<div class="ulockd-tm-post">- Gynecologist</div>
								<ul class="list-inline ulockd-tm-sicon ulockd-bgthm">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>
								<ul class="list-unstyled ulockd-tm-fpm ulockd-bgthm">
									<li>Fax: 1-888-hpeffaxme</li>
									<li>Phone: +98 9875 5968 54</li>
									<li>Mail: sjhson@mail.se</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Testimonial -->
	<section class="ulockd-testimonial">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 text-center">
					<div class="ulockd-testimonial-title hvr-float-shadow">
						<div class="ulockd-title-icon"><span class="flaticon-medical-kit"></span></div>
						<h2 class="text-uppercase">TESTI MONIALS</h2>
						<p>Medicinal Service Company puts stock in conveying the most elevated quality administration with quality and sympathy every day.</p>
					</div>
				</div>
			</div>
			<div class="row ulockd-mrgn1260">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="ulockd-tsmnl hvr-float-shadow">
						<div class="testi-thumb pull-right">
							<img class="img-responsive img-whp thumbnail" src="{% static 'images/testimonial/1.jpg'%}" alt="s1.jpg">
						</div>
						<h4 class="ulockd-commentetor-name">Simone Andreea</h4>
						<h6 class="commentetor-post">Engineer</h6>
						<p class="cmmentetor-comment">I had the delight of being an outpatient in your Ambulatory Surgical Unit for foot surgery.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="ulockd-tsmnl hvr-float-shadow">
						<div class="testi-thumb pull-right">
							<img class="img-responsive img-whp thumbnail" src="{% static 'images/testimonial/2.jpg'%}" alt="s2.jpg">
						</div>
						<h4 class="ulockd-commentetor-name">Simone Andreea</h4>
						<h6 class="commentetor-post">Engineer</h6>
						<p class="cmmentetor-comment">I had the delight of being an outpatient in your Ambulatory Surgical Unit for foot surgery. From the moment I strolled in at the early hour of 6:00AM, until the time I was released,</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="ulockd-tsmnl hvr-float-shadow">
						<div class="testi-thumb pull-right">
							<img class="img-responsive img-whp thumbnail" src="{% static 'images/testimonial/3.jpg'%}" alt="s3.jpg">
						</div>
						<h4 class="ulockd-commentetor-name">Simone Andreea</h4>
						<h6 class="commentetor-post">Engineer</h6>
						<p class="cmmentetor-comment"> I had the delight of being an outpatient in your Ambulatory Surgical Unit for foot surgery. From the moment I strolled in at the early hour of 6:00AM, until the time I was released, I experienced a staff that was cordial, warm and proficient who treated me with the most extreme care.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Blog -->
	<section class="ulockd-blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 text-center">
					<div class="ulockd-blog-title hvr-float-shadow">
						<div class="ulockd-title-icon"><span class="flaticon-medical-kit"></span></div>
						<h2 class="text-uppercase">LATEST NEWS </h2>
						<p>Medicinal Service Company puts stock in conveying the most elevated quality administration with quality and sympathy every day.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="ulockd-bpost-slider">
						<div class="item">
							<div class="ulockd-bp-thumb">
								<img class="img-responsive img-whp" src="{% static 'images/blog/2.jpg'%}" alt="2.jpg">
							</div>
							<div class="ulockd-bp-details text-left">
								<div class="ulockd-bp-title"><h3>Let's Move Blog</h3></div>
								<ul class="list-inline">
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-user-o text-thm1"> </i> B Wills</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-calendar text-thm1"> </i> 25, Jun 2017</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-hospital-o text-thm1"> </i> eHospital </a></li>
								</ul>
								<div class="ulockd-bpost">
									<p>The Health Affairs Blog has creators from all areas of the restorative group. <a class="ulockd-bp-btn" href="#"> Read More...</a></p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="ulockd-bp-thumb">
								<img class="img-responsive img-whp" src="{% static 'images/blog/1.jpg'%}" alt="1.jpg">
							</div>
							<div class="ulockd-bp-details text-left">
								<div class="ulockd-bp-title"><h3>Let's Move Blog</h3></div>
								<ul class="list-inline">
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-user-o text-thm1"> </i> B Wills</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-calendar text-thm1"> </i> 25, Jun 2017</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-hospital-o text-thm1"> </i> eHospital </a></li>
								</ul>
								<div class="ulockd-bpost">
									<p>The Health Affairs Blog has creators from all areas of the restorative group. <a class="ulockd-bp-btn" href="#"> Read More...</a></p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="ulockd-bp-thumb">
								<img class="img-responsive img-whp" src="{% static 'images/blog/3.jpg'%}" alt="3.jpg">
							</div>
							<div class="ulockd-bp-details text-left">
								<div class="ulockd-bp-title"><h3>Let's Move Blog</h3></div>
								<ul class="list-inline">
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-user-o text-thm1"> </i> W Smith</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-calendar text-thm1"> </i> 25, Jun 2017</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-hospital-o text-thm1"> </i> eHospital </a></li>
								</ul>
								<div class="ulockd-bpost">
									<p>The Health Affairs Blog has creators from all areas of the restorative group  <a class="ulockd-bp-btn" href="#"> Read More...</a></p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="ulockd-bp-thumb">
								<img class="img-responsive img-whp" src="{% static 'images/blog/4.jpg'%}" alt="3.jpg">
							</div>
							<div class="ulockd-bp-details text-left">
								<div class="ulockd-bp-title"><h3>Let's Move Blog</h3></div>
								<ul class="list-inline">
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-user-o text-thm1"> </i> W Smith</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-calendar text-thm1"> </i> 25, Jun 2017</a></li>
									<li class="ulockd-post-by"><a href="#"> |</a></li>
									<li class="ulockd-post-by"><a href="#"> <i class="fa fa-hospital-o text-thm1"> </i> eHospital </a></li>
								</ul>
								<div class="ulockd-bpost">
									<p>The Health Affairs Blog has creators from all areas of the restorative group. <a class="ulockd-bp-btn" href="#"> Read More...</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Partner -->
	<section class="ulockd-partner">
		<div class="container">
			<div class="row">
				<div class="col-md-2"><div class="ulockd-partner-thumb text-center"><img src="{% static 'images/partners/partner1.png'%}" alt=""></div></div>
				<div class="col-md-3"><div class="ulockd-partner-thumb text-center"><img src="{% static 'images/partners/partner2.png'%}" alt=""></div></div>
				<div class="col-md-2"><div class="ulockd-partner-thumb text-center"><img src="{% static 'images/partners/partner3.png'%}" alt=""></div></div>
				<div class="col-md-3"><div class="ulockd-partner-thumb text-center"><img src="{% static 'images/partners/partner4.png'%}" alt=""></div></div>
				<div class="col-md-2"><div class="ulockd-partner-thumb text-center"><img src="{% static 'images/partners/partner5.png'%}" alt=""></div></div>
			</div>
		</div>
	</section>
{% endblock %}