{% extends "base.html" %}
{% load staticfiles%}
{% block content %}

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row"> 
            <div class="col-md-12 xs-text-center">
              <h3 class="title text-white">Service</h3>
              <ol class="breadcrumb mt-10 white">
                <li><a class="text-white" href="{% url 'home:home' %}">Home</a></li>
                <li class="active text-theme-colored">Service</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section class=" bg-lighter">
      <div class="container pb-20">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase mt-0 line-height-1">Services</h2>
              <div class="title-icon">
                <img class="mb-10" src="images/title-icon.png" alt="">
              </div>
              <p>QUALITY URGENT CARE<br> FOR CONDITIONS THAT REQUIRE PROMPT MEDICAL ATTENTION</p>
            </div>
          </div>
        </div>
        <div class="section-content">
            <table class="table table-bordered">
                
                <tbody>
                  <tr>
                    <td>   
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-clipboards3 text-theme-colored"></i></a>
                        <div class="media-body">
                          <h5 class="media-heading heading">Primary Care</h5>
                          
                        </div>
                      </div>
                    </td>
                    <td>
                            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-family21 text-theme-colored"></i></a>
                                <div class="media-body">
                                  <h5 class="media-heading heading">Walk-In Care</h5>
                                  
                                </div>
                              </div>
                    </td>
                    <td>
                            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-broken29 text-theme-colored"></i></a>
                                <div class="media-body">
                                  <h5 class="media-heading heading">Physicals (Sports, Employment)</h5>
                                  
                                </div>
                              </div>
                    </td>
                  </tr>


                <tr>
                <td>   
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-textlines5 text-theme-colored"></i></a>
                            <div class="media-body">
                              <h5 class="media-heading heading">Immigration (Vaccinations, Physicals)</h5>
                              
                            </div>
                          </div>
                </td>
                <td>
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-syringe19 text-theme-colored"></i></a>
                            <div class="media-body">
                              <h5 class="media-heading heading">Whooping Cough Vaccinations</h5>
                              
                            </div>
                          </div>   
                </td>
                <td>
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-negative12 text-theme-colored"></i></a>
                            <div class="media-body">
                              <h5 class="media-heading heading">Travel Vaccinations (Appointment Required)</h5>
                              
                            </div>
                          </div>   
                </td>
                </tr>


<tr>
    <td>   
            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-lungs4 text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Asthma Treatment</h5>
                  
                </div>
              </div>
    </td>
    <td>
            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-testtube5 text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">PPD Testing</h5>
                  
                </div>
              </div>
    </td>
    <td>
            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-syringe6 text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Immunizations & Vaccinations (Flu, Whooping Cough, Tetanus, Pertussis, MMR)</h5>
                </div>
              </div> 
    </td>
</tr>



<tr>
        <td>   
                <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-testtube8 text-theme-colored"></i></a>
                    <div class="media-body">
                      <h5 class="media-heading heading">HIV Testing (Same Day)</h5>
                      
                    </div>
                  </div>
        </td>
        <td>
                <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-science47 text-theme-colored"></i></a>
                    <div class="media-body">
                      <h5 class="media-heading heading">STD Testing</h5>
                      
                    </div>
                  </div>  
        </td>
        <td>
                <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-drugs4 text-theme-colored"></i></a>
                    <div class="media-body">
                      <h5 class="media-heading heading">Drug Testing & Screening (Cocaine, Meth, Opiates, PCP, THC)</h5>
                      
                    </div>
                  </div>  
        </td>
    </tr>


    <tr>
            <td>   
                    <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-blood1 text-theme-colored"></i></a>
                        <div class="media-body">
                          <h5 class="media-heading heading">Blood Alcohol Level Testing</h5>
                          
                        </div>
                      </div>
            </td>
            <td>
                    <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-book287 text-theme-colored"></i></a>
                        <div class="media-body">
                          <h5 class="media-heading heading">H. Pylori, Mono, Strep, RSV Testing</h5>
                          
                        </div>
                      </div>   
            </td>
            <td>
                    <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-three109 text-theme-colored"></i></a>
                        <div class="media-body">
                          <h5 class="media-heading heading">Infusion & Hydration Services </h5>
                          
                        </div>
                      </div>  
            </td>
        </tr>
        <tr>
                <td>   
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-baby137 text-theme-colored"></i></a>
                            <div class="media-body">
                              <h5 class="media-heading heading">Pediatric Care</h5>
                              
                            </div>
                          </div>
                </td>
                <td>
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-women13 text-theme-colored"></i></a>
                            <div class="media-body">
                              <h5 class="media-heading heading">Women’s Health Care (Pap Smears, Screening, etc)</h5>
                              
                            </div>
                          </div>   
                </td>
                <td>
                        <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-xray2 text-theme-colored"></i></a>
                            <div class="media-body">
                              <h5 class="media-heading heading">X-Rays Studies</h5>
                            
                            </div>
                          </div>   
                </td>
            </tr>
            <tr>
                    <td>   
                            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-scalpel3 text-theme-colored"></i></a>
                                <div class="media-body">
                                  <h5 class="media-heading heading">Laceration Repair</h5>
                                 
                                </div>
                              </div>
                    </td>
                    <td>
                            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-screw6 text-theme-colored"></i></a>
                                <div class="media-body">
                                  <h5 class="media-heading heading">Splints & Strains Treatment</h5>
                                  
                                </div>
                              </div>   
                    </td>
                    <td>
                            <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-weight9 text-theme-colored"></i></a>
                                <div class="media-body">
                                  <h5 class="media-heading heading">Sports Injury Treatment</h5>
                                  
                                </div>
                              </div>   
                    </td>
                </tr>
                <tr>
                        <td>   
                                <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-bacteria4 text-theme-colored"></i></a>
                                    <div class="media-body">
                                      <h5 class="media-heading heading">Acute Pain Treatment</h5>
                                    </div>
                                  </div> 
                        </td>
                        <td>
                                <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-blood11 text-theme-colored"></i></a>
                                    <div class="media-body">
                                      <h5 class="media-heading heading">Blood Test</h5>
                                      
                                    </div>
                                  </div>   
                        </td>
                        <td>
                                <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left"><i class="flaticon-medical-tablets9 text-theme-colored"></i></a>
                                    <div class="media-body">
                                      <h5 class="media-heading heading">Dermatology Treatment:(Skin Biopsies, Wart & Skin Tag Removal)</h5>
                                      
                                    </div>
                                  </div>   
                        </td>
                    </tr>
                    

                </tbody>
              </table>
        </div>
      </div>
    </section>

    

    

    
  </div>
  <!-- end main-content -->


<script>
    $("#navMenus li.active").removeClass("active");
    // adding classname 'active' to current click li 
    $('#servicesmenu').addClass("active");
</script>

{% endblock %}