
<section class="">
  <div class="modal fade container position-relative p-0 mt-90" style="max-width: 700px;" id="exampleModalLong">
    <h3 class="bg-theme-colored p-15 mt-0 mb-0 text-white">Appointments</h3>
    <div class="section-content bg-white p-30">
      <div class="row">
        <div class="col-md-12">
          <!-- Booking Form Starts -->
          <p class="lead">I invite you to contact me or schedule time to talk.</p>
          <!-- Appointment Form -->
          <form id="popup_appointment_form" name="popup_appointment_form" class="" method="post">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group mb-10">
                  <input id="modal_form_name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group mb-10">
                  <input id="modal_form_email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group mb-10">
                  <input id="modal_form_appontment_date" class="form-control required datetime-picker" type="text" placeholder="Appoinment Date & Time" aria-required="true">
                </div>
              </div>
            </div>
            <div class="form-group mb-10">
              <textarea id="modal_form_message" name="form_message" class="form-control required"  placeholder="Enter Message" rows="5" aria-required="true"></textarea>
            </div>
            <div class="form-group mb-0 mt-20">
              <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
              <button type="submit" class="btn btn-dark btn-theme-colored" id="modalsndmsg">Send Message</button>
            </div>
          </form>

          <!-- Appointment Form Validation-->
          <script>
              $(document).ready(function(){
                     
                     
                     
                 $("#modalsndmsg").click(function ()
                 {
                  if($('#popup_appointment_form').valid()!=true)
                  {
                    return
                  }
                  modal_form_name=document.getElementById("modal_form_name").value;
                  modal_form_email=document.getElementById("modal_form_email").value;
                  
                  
                  modal_form_message=document.getElementById("modal_form_message").value;
                  
                  
                    
                    
                    $('#modalsndmsg').text('Please wait').attr('disabled', true);
            
            
            
                    $.ajax({
                              type: "POST",
                              url: "{% url 'home:sending_email' %}",
                              data: {
                                        'modal_form_name':modal_form_name,
                                        'modal_form_email':modal_form_email,
                                        
                                        
                                        'modal_form_message':modal_form_message,
                                        
                                        'csrfmiddlewaretoken': '{{ csrf_token }}',
            
                                      },
                              dataType: 'json',
            
                              success: function (data) {
                              if (data) {
                                  
                                  if (data['my_response']=='OK'){
                                    modal_document.getElementById("modal_form_name").value='';
                                    modal_document.getElementById("modal_form_email").value='';
                                    modal_document.getElementById("modal_form_subject").value='';
                                    modal_document.getElementById("modal_form_phone").value='';
                                    modal_document.getElementById("modal_form_message").value='';
            
                                    
                                    $('#modalsndmsg').text('Send Message').attr('disabled', false);
            
            
                                  } else {
            
                                      alert('Something went wrong!');
                                  }
            
            
            
            
                      }
            
                      }
            
            
            
                  });
                    
                 }
                 );
                 
                 
                 
                  
                 
                 
                    });
                   </script>
        </div>
      </div>
    </div>
    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
  </div>
</section>