{% load staticfiles %}

  <div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
      <div id="spinner">
        <img src="{% static 'images/preloaders/1.gif' %}" alt="">
      </div>
      <!-- <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div> -->
    </div>
    
    <!-- Header -->
    <header id="header" class="header">
      <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="widget no-border m-0">
                <!-- <ul class="sm-text-center list-inline text-white"> -->
                    <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                  <li class="text-white">16400 Lark Ave, Los Gatos, CA 95032</li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="widget no-border m-0">
                <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                  <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">(408) 384-9719</a> </li>
                  <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i>
                    7 Days a Week From 9am to 6pm 
                  </li>
                  
                  <li class="sm-display-block mt-sm-10 mb-sm-10" style="margin-bottom: 8px !important;">
                    <!-- Modal: Appointment Starts -->
                    <a class="bg-light p-5 text-theme-colored font-11 ajaxload-popup"  href="{% static 'ajax-load/form-appointment.html' %}">Make an Appointment</a>
                    <!-- Modal: Appointment End -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-lightest">
          <div class="container">
            <nav id="menuzord-right" class="menuzord blue bg-lightest">
              <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
                <img src="{% static 'images/urgentcare.png' %}" alt="" width="241" height="250">
              </a>
              
              <ul class="menuzord-menu">
                <li class="active"><a href="#home">Home</a></li>
                
                <li><a href="#">Services</a></li>
                <li><a href="#">Insurance & Billing</a></li>
                <li><a href="#">Appointments</a></li>
                <li><a href="#">Facility</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>