{% load staticfiles %}

  <div id="wrapper" class="clearfix">
    <!-- preloader -->
    <!-- <div id="preloader">
      <div id="spinner">
        <img src="{% static 'images/preloaders/1.gif' %}" alt="">
      </div> -->
      <!-- <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div> -->
    <!-- </div> -->
    
    <!-- Header -->
    <header id="header" class="header">
      <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="widget no-border m-0">
                <!-- <ul class="sm-text-center list-inline text-white"> -->
                    <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                  <li class="text-white">16400 Lark Ave, Suite 100, Los Gatos, CA 95032</li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="widget no-border m-0">
                <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                  <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">(408) 384-9719</a> </li>
                  <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i>
                    7 Days a Week From 9am to 6pm 
                  </li>
                  
                  <li class="sm-display-block mt-sm-10 mb-sm-10" style="margin-bottom: 8px !important;">
<button id='modalbuttonmakeappint' name='modalbuttonmakeappint' type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
    Make an Appointment
  </button>
</li>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="section-content bg-white p-30" >
            <div class="row">
              <div class="col-md-12">
                <!-- Booking Form Starts -->
                
                <!-- Appointment Form -->
                <form id="popup_appointment_form" name="popup_appointment_form" class="" method="post">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group mb-10">
                        <input id="modal_form_name" name="modal_form_name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group mb-10">
                        <input id="modal_form_email" name="modal_form_email" class="form-control email" type="email" required="" placeholder="Enter Email" aria-required="true">
                      </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input id="modal_form_phone" name="modal_form_phone" class="form-control" type="text" required="" placeholder="Enter Phone" aria-required="true">
                        </div>
                      </div>
                    <!-- <div class="col-sm-12">
                      <div class="form-group mb-10">
                        <input id="modal_form_appontment_date" name="modal_form_appontment_date" class="form-control datetime-picker" type="text" placeholder="Appoinment Date & Time" aria-required="true" required="">
                      </div>
                    </div> -->
                  </div>
                  <div class="form-group mb-10">
                    <textarea id="modal_form_message" name="modal_form_message" class="form-control required"  placeholder="Enter Message" rows="5" aria-required="true"></textarea>
                  </div>
                  <div class="form-group mb-0 mt-20">
                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                    <button type="submit" class="btn btn-dark btn-theme-colored" id="modalsndmsg">Send Message</button>
                  </div>
                </form>
      
                <!-- Appointment Form Validation-->
                <script>
                    $(document).ready(function(){
                           
                           
                           
                       $("#modalsndmsg").click(function ()
                       {
                        if($('#popup_appointment_form').valid()!=true)
                        {
                          return
                        }
                        modal_form_name=document.getElementById("modal_form_name").value;
                        modal_form_email=document.getElementById("modal_form_email").value; 
                        modal_form_phone=document.getElementById("modal_form_phone").value;
                        modal_form_appontment_date=document.getElementById("modal_form_appontment_date").value;
                        modal_form_message=document.getElementById("modal_form_message").value;
                        
                        
                          
                          
                          $('#modalsndmsg').text('Please wait').attr('disabled', true);
                  
                  
                  
                          $.ajax({
                                    type: "POST",
                                    url: "{% url 'home:make_appointment' %}",
                                    data: {
                                              'modal_form_name':modal_form_name,
                                              'modal_form_email':modal_form_email,
                                              'modal_form_phone':modal_form_phone,
                                              'modal_form_appontment_date':modal_form_appontment_date,
                                              'modal_form_message':modal_form_message,
                                              
                                              'csrfmiddlewaretoken': '{{ csrf_token }}',
                  
                                            },
                                    dataType: 'json',
                  
                                    success: function (data) {
                                    if (data) {
                                        
                                        if (data['my_response']=='OK'){
                                          
                                          document.getElementById("modal_form_name").value='';
                                          document.getElementById("modal_form_email").value='';
                                          document.getElementById("modal_form_phone").value='';
                                          document.getElementById("modal_form_message").value='';
                  
                                          
                                          $('#modalsndmsg').text('Send Message').attr('disabled', false);

                                          $('#exampleModalCenter').modal('toggle');
                  
                  
                                        } else {
                  
                                            alert('Something went wrong!');
                                        }
                  
                  
                  
                  
                            }
                  
                            }
                  
                  
                  
                        });
                          
                       }
                       );
                       
                       
                       
                        
                       
                       
                          });
                         </script>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-lightest">
          <div class="container">
            <nav id="menuzord-right" class="menuzord blue bg-lightest">
              <a class="menuzord-brand pull-left flip" href="{% url 'home:home' %}">
                <img src="{% static 'images/urgentcare.png' %}" alt="" width="241" height="250">
              </a>
              
              <ul id="navMenus" class="menuzord-menu" >

                <li id="homemenu"><a href="{% url 'home:home' %}">Home</a></li>
                <li id="servicesmenu"><a href="{% url 'home:services' %}">Services</a></li>
                <li id="billingmenu"><a href="{% url 'home:billing' %}">Insurance & Billing</a></li>
                <!-- <li id="faciltygmenu"><a href="{% url 'home:facilty' %}">Facility</a></li> -->
                <li id="blogmenu"><a href="{% url 'home:blog' %}">Blog</a></li>
                <li id="contactmenu"><a  href="{% url 'home:contact' %}">Contact</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

