{% load staticfiles %}
<div id="side-panel" class="dark" data-bg-img="http://placehold.it/1920x1280">
    <div class="side-panel-wrap">
      <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="pe-7s-close font-36"></i></a></div>
      <a href="javascript:void(0)"><img alt="logo" src="{% static 'images/logo-wide.png' %}"></a>
      <div class="side-panel-nav mt-30">
        <div class="widget no-border">
          <nav>
            <ul class="nav nav-list">
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a class="tree-toggler nav-header">Pages <i class="fa fa-angle-down"></i></a>
                <ul class="nav nav-list tree">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>        
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="side-panel-widget mt-30">
        <div class="widget no-border">
          <ul>
            <li class="font-14 mb-5"> <i class="fa fa-phone text-theme-colored"></i> <a href="#" class="text-gray">123-456-789</a> </li>
            <li class="font-14 mb-5"> <i class="fa fa-clock-o text-theme-colored"></i> Mon-Fri 8:00 to 2:00 </li>
            <li class="font-14 mb-5"> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="#" class="text-gray">contact@yourdomain.com</a> </li>
          </ul>      
        </div>
        <div class="widget">
          <ul class="styled-icons icon-dark icon-theme-colored icon-sm">
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <p>Copyright &copy;2016 ThemeMascot</p>
      </div>
    </div>
  </div>
  <div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
      <div id="spinner">
        <img src="{% static 'images/preloaders/1.gif' %}" alt="">
      </div>
      <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>
    
    <!-- Header -->
    <header id="header" class="header">
      <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="widget no-border m-0">
                <ul class="styled-icons icon-dark icon-theme-colored icon-sm sm-text-center">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="widget no-border m-0">
                <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                  <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">123-456-789</a> </li>
                  <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 8:00 to 2:00 </li>
                  <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">contact@yourdomain.com</a> </li>
                  <li class="sm-display-block mt-sm-10 mb-sm-10">
                    <!-- Modal: Appointment Starts -->
                    <a class="bg-light p-5 text-theme-colored font-11 ajaxload-popup" href="{% static 'ajax-load/form-appointment.html' %}">Make an Appointment</a>
                    <!-- Modal: Appointment End -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-lightest">
          <div class="container">
            <nav id="menuzord-right" class="menuzord blue bg-lightest">
              <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
                <img src="{% static 'images/logo-wide.png' %}" alt="">
              </a>
              <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="fa fa-bars font-24 text-gray"></i></a></div>
              <ul class="menuzord-menu">
                <li class="active"><a href="#home">Home</a></li>
                
                <li><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="#">About</a>
                      <ul class="dropdown">
                        <li><a href="page-about-style1.html">About Style 1</a></li>
                        <li><a href="page-about-style2.html">About Style 2</a></li>
                      </ul>
                    </li>           
                    <li><a href="#">Services</a>
                      <ul class="dropdown">
                        <li><a href="page-services1.html">Services Style 1</a></li>
                        <li><a href="page-services2.html">Services Style 2</a></li>
                        <li><a href="page-services-details.html">Services Details</a></li>
                      </ul>
                    </li>
                    <li><a href="page-timetable.html">Timetable</a></li>
                    <li><a href="#">Profile</a>
                      <ul class="dropdown">
                        <li><a href="page-account.html">Account</a></li>
                        <li><a href="page-account-edit.html">Edit Account</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Gallery</a>
                      <ul class="dropdown">
                        <li><a href="page-gallery-3col.html">3 Columns</a></li>
                        <li><a href="page-gallery-4col.html">4 Columns</a></li>
                        <li><a href="page-gallery-3col-only-image.html">3 Columns Only Image</a></li>
                        <li><a href="page-gallery-4col-only-image.html">4 Columns Only Image</a></li>
                        <li><a href="page-gallery-grid.html">Grids (2-10 Columns)</a></li>
                        <li><a href="page-gallery-grid-animation.html">Grids with Animation (2-10 Columns)</a></li>
                        <li><a href="page-gallery-masonry-tiles.html">Tiles (2-10 Columns)</a></li>
                        <li><a href="page-gallery-masonry-tiles-animation.html">Tiles with Animation (2-10 Columns)</a></li>
                        <li><a href="page-gallery-prettyphoto.html">Pretty Photo Gallery</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pricing</a>
                      <ul class="dropdown">
                        <li><a href="page-pricing-style1.html">Pricing style1</a></li>
                        <li><a href="page-pricing-style2.html">Pricing style2</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Calender</a>
                      <ul class="dropdown">
                        <li><a href="page-calendar1.html">Calendar Style1</a></li>
                        <li><a href="page-calendar2.html">Calendar Style2</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Events</a>
                      <ul class="dropdown">
                        <li><a href="#">Events Grid</a>
                          <ul class="dropdown">
                            <li><a href="events-grid-2column.html">Grid 2column</a></li>
                            <li><a href="events-grid-3column.html">Grid 3column</a></li>
                            <li><a href="events-grid-4column.html">Grid 4column</a></li>
                            <li><a href="events-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                            <li><a href="events-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Events List</a>
                          <ul class="dropdown">
                            <li><a href="events-list-left-sidebar.html">List Left Sidebar</a></li>
                            <li><a href="events-list-right-sidebar.html">List Right Sidebar</a></li>
                            <li><a href="events-list-no-sidebar.html">List No Sidebar</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Events Details</a>
                          <ul class="dropdown">
                            <li><a href="events-details-style1.html">Details Style1</a></li>
                            <li><a href="events-details-style2.html">Details Style2</a></li>
                            <li><a href="events-details-style3.html">Details Style3</a></li>
                          </ul>
                        </li>
                        <li><a href="events-table.html">Events Table</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Job <span class="label label-success">New</span></a>
                      <ul class="dropdown">
                        <li><a href="job-list.html">Job List</a></li>
                        <li><a href="job-details-style1.html">Job Details Style1</a></li>
                        <li><a href="job-details-style2.html">Job Details Style2</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Shop</a>
                      <ul class="dropdown">
                        <li><a href="shop-category.html">Category</a></li>
                        <li><a href="shop-category-sidebar.html">Category Sidebar</a></li>
                        <li><a href="shop-product-details.html">Product Details</a></li>
                        <li><a href="shop-cart.html">Cart</a></li>
                        <li><a href="shop-checkout.html">Checkout</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Contact</a>
                      <ul class="dropdown">
                        <li><a href="page-contact-style1.html">Contact style 1</a></li>
                        <li><a href="page-contact-style2.html">Contact style 2</a></li>
                        <li><a href="page-contact-style3.html">Contact style 3</a></li>
                        <li><a href="page-contact-style4.html">Contact style 4</a></li>
                        <li><a href="page-contact5-with-multiple-marker.html">Contact 5 - Multiple Marker</a></li>
                        <li><a href="page-contact6-with-multiple-marker.html">Contact 6 - Multiple Marker</a></li>
                      </ul>
                    </li>
                    <li><a href="#">FAQ</a>
                      <ul class="dropdown">
                        <li><a href="page-faq-style1.html">FAQ Style1</a></li>
                        <li><a href="page-faq-style2.html">FAQ Style2</a></li>
                        <li><a href="page-faq-style3.html">FAQ Style3</a></li>
                        <li><a href="page-faq-style4.html">FAQ Style4</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Page 404</a>
                      <ul class="dropdown">
                        <li><a href="page-404-style1.html">Style1</a></li>
                        <li><a href="page-404-style2.html">Style2</a></li>
                        <li><a href="page-404-style3.html">Style3</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Coming Soon</a>
                      <ul class="dropdown">
                        <li><a href="page-coming-soon-style1.html">Style 1</a></li>
                        <li><a href="page-coming-soon-style2.html">Style 2</a></li>
                        <li><a href="page-coming-soon-style3.html">Style 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Under Construction</a>
                      <ul class="dropdown">
                        <li><a href="page-under-construction-style1.html">Style1</a></li>
                        <li><a href="page-under-construction-style2.html">Style2</a></li>
                        <li><a href="page-under-construction-style3.html">Style3</a></li>
                        <li><a href="page-under-construction-style4.html">Style4</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>           
                <li><a href="#">Departments</a>
                  <ul class="dropdown">
                    <li><a href="page-services-details.html">Outpatient Depertment</a></li>
                    <li><a href="page-services-details.html">Cardiology Depertment</a></li>
                    <li><a href="page-services-details.html">Neurology Depertment</a></li>
                    <li><a href="page-services-details.html">Personal Depertment</a></li>
                    <li><a href="page-services-details.html">Dental Depertment</a></li>
                    <li><a href="page-services-details.html">Haematology Depertment</a></li>
                  </ul>
                </li>
                <li><a href="#">Doctors</a>
                  <ul class="dropdown">
                    <li><a href="page-doctors-style1.html">Doctors Style 1</a></li>
                    <li><a href="page-doctors-style2.html">Doctors Style 2</a></li>
                    <li><a href="page-doctors-details.html">Doctors Details</a></li>
                  </ul>
                </li>
                <li><a href="#">Blog</a>
                  <ul class="dropdown">
                    <li><a href="#">Blog Classic</a>
                      <ul class="dropdown">
                        <li><a href="blog-classic-no-sidebar.html">Blog Classic No Sidebar</a></li>
                        <li><a href="blog-classic-left-sidebar.html">Blog Classic Left Sidebar</a></li>
                        <li><a href="blog-classic-right-sidebar.html">Blog Classic Right Sidebar</a></li>
                        <li><a href="blog-classic-both-sidebar.html">Blog Classic Both Sidebar</a></li>
                        <li><a href="blog-classic-left-thumbs.html">Blog Classic Left Thumbs</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Blog Grid</a>
                      <ul class="dropdown">
                        <li><a href="blog-grid-2-column.html">Blog Grid 2 Column</a></li>
                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Blog Masonry</a>
                      <ul class="dropdown">
                        <li><a href="blog-masonry-2-column.html">Blog Masonry 2 Column</a></li>
                        <li><a href="blog-masonry-3-column.html">Blog Masonry 3 Column</a></li>
                        <li><a href="blog-masonry-4-column.html">Blog Masonry 4 Column</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Blog Single</a>
                      <ul class="dropdown">
                        <li><a href="blog-single-no-sidebar.html">Blog Single No Sidebar</a></li>
                        <li><a href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                        <li><a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
                        <li><a href="blog-single-both-sidebar.html">Blog Single Both Sidebar</a></li>
                        <li><a href="blog-single-disqus-comments.html">Blog Single Discuss Comments</a></li>
                        <li><a href="blog-single-facebook-comments.html">Blog Single Facebook Comments</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Blog Infinity Scroll</a>
                      <ul class="dropdown">
                        <li><a href="blog-extra-infinity-scroll.html">Blog Infinity Scroll Default</a></li>
                        <li><a href="blog-extra-infinity-scroll-lazyload.html">Blog Infinity Scroll Lazyload</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Blog Timeline</a>
                      <ul class="dropdown">
                        <li><a href="blog-timeline.html">Blog Timeline Default</a></li>
                        <li><a href="blog-timeline-masonry.html">Blog Timeline Masonry</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#">Shortcodes</a>
                  <div class="megamenu">
                    <div class="megamenu-row">
                      <div class="col3">
                        <ul class="list-unstyled list-dashed">
                          <li><a href="shortcode-accordion.html"><i class="fa fa-list-ul"></i> Accordion</a></li>
                          <li><a href="shortcode-alerts.html"><i class="fa fa-exclamation-circle"></i> Alerts</a></li>
                          <li><a href="shortcode-animations.html"><i class="fa fa-magic"></i> Animations</a></li>
                          <li><a href="shortcode-background-html5-video.html"><i class="fa fa-video-camera"></i> HTML5 Background Video</a></li>
                          <li><a href="shortcode-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                          <li><a href="shortcode-button-groups-and-dropdowns.html"><i class="fa fa-link"></i> Button Groups</a></li>
                          <li><a href="shortcode-button-hover-effect.html"><i class="fa fa-flag-o"></i> Button Hover Effect</a></li>
                          <li><a href="shortcode-buttons.html"><i class="fa fa-external-link"></i> Buttons</a></li>
                          <li><a href="shortcode-call-to-actions.html"><i class="fa fa-plus-square"></i> Call To Actions</a></li>
                          <li><a href="shortcode-charts.html"><i class="fa fa-pie-chart"></i> Charts</a></li>
                          <li><a href="shortcode-columns-grids.html"><i class="fa fa-columns"></i> Columns Grids</a></li>
                          <li><a href="shortcode-divider.html"><i class="fa fa-indent"></i> Divider</a></li>
                          <li><a href="shortcode-dropcaps.html"><i class="fa fa-bold"></i> Dropcaps</a></li>
                          <li><a href="shortcode-datetime-datepicker.html"><i class="fa fa-calendar"></i> Date Picker</a></li>
                          <li><a href="shortcode-datetime-timepicker.html"><i class="fa fa-calendar"></i> Time Picker</a></li>
                        </ul>
                      </div>
                      <div class="col3">
                        <ul class="list-unstyled list-dashed">
                          <li><a href="shortcode-datetime-datetimepicker.html"><i class="fa fa-calendar"></i> Bootstrap Date-Time Picker</a></li>
                          <li><a href="shortcode-datetime-datepair.html"><i class="fa fa-calendar"></i> Date Pair</a></li>
                          <li><a href="shortcode-flickr-feed.html"><i class="fa fa-sliders"></i> Flickr Feed</a></li>
                          <li><a href="shortcode-flipbox.html"><i class="fa fa-square"></i> Flipbox</a></li>
                          <li><a href="shortcode-forms.html"><i class="fa fa-align-justify"></i> Forms</a></li>
                          <li><a href="shortcode-iconbox.html"><i class="fa fa-unsorted"></i> Icon Box</a></li>
                          <li><a href="shortcode-icon-7stroke.html"><i class="fa fa-circle-o"></i> Icons 7stroke</a></li>
                          <li><a href="shortcode-icon-elegant-icons.html"><i class="fa fa-eye-slash"></i> Icons Elegant</a></li>
                          <li><a href="shortcode-icon-flat-color-icons.html"><i class="fa fa-i-cursor"></i> Icons Flat Color</a></li>
                          <li><a href="shortcode-icon-fontawesome.html"><i class="fa fa-fort-awesome"></i> Icons FontAwesome</a></li>
                          <li><a href="shortcode-icon-fontawesome-tutorial.html"><i class="fa fa-fonticons"></i> Icons FontAwesome Tutorial</a></li>
                          <li><a href="shortcode-icon-strokegap.html"><i class="fa fa-anchor"></i> Icons Strokegap</a></li>
                          <li><a href="shortcode-image-box.html"><i class="fa fa-file-image-o"></i> Image Box</a></li>
                          <li><a href="shortcode-instagram.html"><i class="fa fa-instagram"></i> Instagram Feed</a></li>
                          <li><a href="shortcode-labels-badges.html"><i class="fa fa-check-square-o"></i> Labels Badges</a></li>
                        </ul>
                      </div>
                      <div class="col3">
                        <ul class="list-unstyled list-dashed">
                          <li><a href="shortcode-listgroup-panels.html"><i class="fa fa-th-list"></i> Listgroup Panels</a></li>
                          <li><a href="shortcode-lists.html"><i class="fa fa-list"></i> Lists</a></li>
                          <li><a href="shortcode-maps.html"><i class="fa fa-map-o"></i> Maps</a></li>
                          <li><a href="shortcode-media-embed.html"><i class="fa fa-play-circle-o"></i> Media Embed</a></li>
                          <li><a href="shortcode-modal-bootstrap.html"><i class="fa fa-search-plus"></i> Modal</a></li>
                          <li><a href="shortcode-modal-lightbox.html"><i class="fa fa-expand"></i> Lightbox</a></li>
                          <li><a href="shortcode-navigation.html"><i class="fa fa-navicon"></i> Navigation</a></li>
                          <li><a href="shortcode-owl-carousel.html"><i class="fa fa-sliders"></i> Owl Carousel</a></li>
                          <li><a href="shortcode-pagination.html"><i class="fa fa-arrow-circle-o-right"></i> Pagination</a></li>
                          <li><a href="shortcode-progressbar.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
                          <li><a href="shortcode-responsive.html"><i class="fa fa-tablet"></i> Responsive</a></li>
                          <li><a href="shortcode-separator.html"><i class="fa fa-minus-square-o"></i> Separator</a></li>
                          <li><a href="shortcode-sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a></li>
                          <li><a href="shortcode-sliders.html"><i class="fa fa-sliders"></i> Sliders</a></li>
                          <li><a href="shortcode-smoothscrolling.html"><i class="fa fa-binoculars"></i> Smoothscrolling</a></li>
                        </ul>
                      </div>
                      <div class="col3">
                        <ul class="list-unstyled list-dashed">
                          <li><a href="shortcode-styled-icons.html"><i class="fa fa-facebook-square"></i> Styled Icons</a></li>
                          <li><a href="shortcode-subscribe.html"><i class="fa fa-user-plus"></i> Subscribe</a></li>
                          <li><a href="shortcode-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                          <li><a href="shortcode-tabs.html"><i class="fa fa-indent"></i> Tabs</a></li>
                          <li><a href="shortcode-textblock.html"><i class="fa fa-bold"></i> Textblock</a></li>
                          <li><a href="shortcode-thumbnails-carousels.html"><i class="fa fa-sliders"></i> Thumbnails/carousels</a></li>
                          <li><a href="shortcode-title.html"><i class="fa fa-text-height"></i> Title</a></li>
                          <li><a href="shortcode-timer-final-countdown.html"><i class="fa fa-text-height"></i> Timer Final Countdown</a></li>
                          <li><a href="shortcode-timer-flipclock.html"><i class="fa fa-text-height"></i> Timer Flipclock</a></li>
                          <li><a href="shortcode-timer-slick-circular.html"><i class="fa fa-text-height"></i> Timer Slick Circular</a></li>
                          <li><a href="shortcode-twitter.html"><i class="fa fa-twitter-square"></i> Twitter Feed</a></li>
                          <li><a href="shortcode-typography.html"><i class="fa fa-font"></i> Typography</a></li>
                          <li><a href="shortcode-vertical-timeline.html"><i class="fa fa-arrows-v"></i> Vertical Timeline</a></li>
                          <li><a href="shortcode-widgets.html"><i class="fa fa-gift"></i> Widgets</a></li>
                          <li><a href="shortcode-working-process.html"><i class="fa fa-exchange"></i> Working Process</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>